.calendar-widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: bisque;
  width: 100%;
  height: 85vh;

  .widgets {
    background-color: orange;
    height: 100%;
    width: 60%;
  }
}
