@use 'reset';
@use 'mixins';
@use 'extend';
@import 'vars';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Sequel';
  src: url('../assets/fonts/Sequel_Demo.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('src/assets/images/background.jpg') center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: $dark;
  position: relative;
  overflow: hidden;
}

#root {
  min-height: 100%;
  overflow: hidden;
}

.app {
  // height: 100vh;
  // height: 100%;
  min-height: calc(100vh - 100%);
  @include flex($direction: column, $justify: flex-start);
  position: relative;
  bottom: 0;
}

.calendar-widget-container {
  height: 82vh;
  position: relative;
  @media (min-width: 1000px) {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0 30px;
    width: 100%;
  }
}

//////////////// HOME ////////////////

.home-container {
  @include flex($direction: column);
  margin: auto;
  width: 95%;
  max-width: 40rem;
  min-height: 70vh;

  .home {
    @include flex($direction: column, $justify: space-between);
    width: 100%;
    padding: 2rem 0;
    background: rgba(#404939, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 13px;
    border-bottom-right-radius: 0;

    &__header {
      @include flex($direction: column);
      padding-bottom: 1rem;

      &__title {
        text-align: center;
        color: $white;
        font-size: 2.5em;
        padding: 0.5rem;
        text-transform: uppercase;
        font-family: 'Sequel';
        line-height: 2.7rem;
      }

      &__subtitle {
        font-size: 0.6em;
        cursor: pointer;
        text-decoration: underline;
        color: $dark;
      }
    }

    &__main {
      width: 70%;
      @include flex($direction: column);

      .errors {
        @include flex($direction: column);
        font-size: 0.8em;
        color: rgb(216, 18, 18);
        min-height: 2rem;
        min-width: 70%;
        padding-top: 0.5rem;
      }

      .form-login {
        padding-top: 3rem;
        min-height: 17rem;
        @include flex($direction: column, $justify: space-between);
      }

      .form-signup {
        min-height: 17rem;
        @include flex($direction: column, $justify: space-between);
      }
    }

    &__btns-container {
      width: 100%;
      @include flex($justify: flex-end);

      &__btn {
        position: relative;
        top: -1px;
        border: none;
        color: $white;
        text-transform: uppercase;
        margin-left: 1rem;
        width: 25%;
        min-width: 7.6rem;
        background: rgba(#404939, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        padding: 1rem;
        font-size: 0.7em;
        @include flex;
        font-weight: bold;

        &-unselected {
          background: rgba(#262b22, 0.5);
          font-weight: normal;
        }
      }
    }
  }
}

.button-sign {
  margin-top: 0.5rem;
}

.home-input {
  width: 100%;
  padding-bottom: 0.5rem;
  text-transform: capitalize;

  label {
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    color: $dark;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px $dark solid;
      padding: 0.5rem;
    }
  }
  .password-eye-icon {
    position: absolute;
    top: 22px;
    right: 6px;
  }
}

//////////////// HEADER ////////////////
.header {
  padding: 0.7rem 0;
  width: 100%;
  background-color: $white;
  @include flex($justify: space-between);

  &__logo {
    padding-left: 0.4rem;
    min-width: 23%;
    //logo style
    background-image: linear-gradient(
      90deg,
      rgba(220, 238, 244, 1) 0%,
      rgba(196, 226, 237, 1) 33%,
      rgba(139, 198, 220, 1) 66%
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-family: 'Sequel';
    font-size: 2em;

    @media (min-width: 700px) {
      padding-left: 1rem;
      background-image: linear-gradient(
        90deg,
        rgba(220, 238, 244, 1) 0%,
        rgba(196, 226, 237, 1) 10%,
        rgba(139, 198, 220, 1) 30%
      );
    }
  }
  &__range-menu {
    &__range-btn {
      min-width: 3.6rem;
      border: none;
      background-color: $white;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-size: 0.8rem;
      @media (min-width: 700px) {
        min-width: 5rem;
        border: 1px solid $light-blue;
      }
    }
  }
  &__logout {
    padding-right: 0.4rem;
    min-width: 23%;
    text-align: right;

    @media (min-width: 700px) {
      padding-right: 1rem;
    }

    &__btn {
      padding: 0.4rem 0.5rem;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.19);
      border: none;
      border-radius: 5px;
      background-image: linear-gradient(
        90deg,
        rgba(139, 198, 220, 1) 50%,
        rgba(196, 226, 237, 1) 90%,
        rgba(220, 238, 244, 1) 100%
      );

      color: $white;
      font-size: 0.7rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;

      @media (min-width: 700px) {
        padding: 0.5rem 0.8rem;
      }
    }
  }
}

.mobile-selected-range {
  font-weight: 700;
  color: $light-blue;
  border-bottom: 2px solid $light-blue;
  @media (min-width: 700px) {
    color: $white;
  }
}

@media (min-width: 700px) {
  .other-selected-range {
    background-color: $light-blue;
  }
  .right-btn {
    border-top-right-radius: 25% 100%;
    border-bottom-right-radius: 25% 100%;
  }
  .left-btn {
    border-top-left-radius: 25% 100%;
    border-bottom-left-radius: 25% 100%;
  }
}

//////////////// CLASSIC BUTTON ////////////////
.classic-btn {
  min-width: 6.5rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.19);

  border: none;
  border-radius: 5px;

  background-image: linear-gradient(
    90deg,
    rgba(139, 198, 220, 1) 40%,
    rgba(196, 226, 237, 1) 75%,
    rgba(220, 238, 244, 1) 100%
  );

  color: $white;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

//////////////// CALENDAR WIDGET ////////////////
.calendar-widgets {
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 1rem;

  @media (min-width: 1000px) {
    height: 100%;
    @include flex($direction: column, $justify: space-around);
    max-width: 1600px;
  }
}

//////////////// MODAL ////////////////
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 300ms ease-in-out;

  &--hidden {
    display: none;
  }

  &__container {
    position: absolute;
    top: 5%;
    max-height: 90vh;
    min-width: 90vw;
    margin: 0 5%;
    border-radius: 5px;
    background-color: $white;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    pointer-events: auto;
    &__header {
      box-sizing: content-box;
      width: 100%;

      .close {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 35px;
        right: 20px;
        cursor: pointer;
        transition: all 50ms ease-in-out;
        &:hover {
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    &__content {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

//////////////// GROUP SETTINGS ////////////////
.settings-container {
  padding: 1rem;
  text-align: center;
  min-height: 67vh;
  &__title {
    margin: 1rem 0 2rem 0;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__group-name {
    padding-bottom: 2rem;

    &__title {
      color: $light-blue;
      font-size: 1em;
      padding-bottom: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__content {
      @include flex();
      .name {
        color: $dark;
        padding-right: 0.3rem;
      }
    }
    &__form {
      @include flex();
      .input-form {
        @include flex();
        &__btn {
          color: green;
        }
      }
      .btn {
        color: red;
      }
    }
  }
  &__group-members {
    &__title {
      color: $light-blue;
      font-size: 1em;
      padding-bottom: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__member {
      margin: auto;
      width: 90%;
      @include flex($direction: column);
      padding: 0.5rem;
      border: 1px solid $light-blue;
      border-radius: 5px;
      margin-bottom: 1rem;
      .member-icon {
        @include name-tag($font-size: 0.75rem, $size: 2rem, $background: none);
        margin-bottom: 0.4rem;
      }
      .member-data {
        margin-bottom: 0.4rem;
      }
      .member-icons {
        @include flex();
      }
      .member-form {
        @include flex($direction: column);
        &__select {
          width: 100%;
          padding-bottom: 0.5rem;
          text-transform: capitalize;
          text-align: left;
          justify-content: flex-start;
          &__icon {
            font-size: 0.7em;
            font-weight: bold;
          }
          &__form {
          }
        }
        &__btns {
          @include flex();
        }
      }
    }
  }
  &__btn {
    margin: 0.8rem 0;
  }
}

.settings-input {
  width: 100%;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  text-align: left;

  label {
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    color: $dark;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px $dark solid;
      padding: 0.5rem;
    }
  }
}

//////////////// CLASSIC ICON BTN ////////////////
.icon-btn {
  border: none;
  background-color: transparent;
}

.icon {
  width: 100%;
}

//////////////// COLOR ICONS ////////////////
.color-icon-check {
  color: green;
}

.color-icon-cancel {
  color: red;
}

.icon-container--dark {
  background-color: #2e2e2e;
}

.icon-container--light-blue {
  background-color: #8bc6dc;
}

.icon-container--green {
  background-color: #5a7247;
}

.icon-container--light-grey {
  background-color: #8b8b8b;
}

//////////////// DASHBOARD MENU ////////////////
.menu {
  @include flex($justify: space-between);
  padding: 0.25rem 0.75rem;
  position: relative;
  z-index: 5;
  @media (min-width: 1000px) {
    width: 100%;
  }

  .menu__datePicker {
    border: none;
    height: 23px;
    width: 54px;
    font-size: 20px;
    padding: 0;
    background-color: transparent;
    z-index: 1;
  }

  .member-filter {
    position: relative;
    z-index: 15;

    &__btn {
      @include flex($direction: column);
      border-radius: 50%;
      // border: $white 1px solid;
      border: none;
      background: $dark-green;
      color: $white;
      height: 3rem;
      width: 3rem;

      svg {
        font-size: 1.5rem;
      }
    }

    &__modal {
      position: absolute;
      background-color: $white;
      border-radius: $border-radius;
      top: 25px;
      right: 50%;
      padding: 1.25rem 0.75rem 0.75rem 0.75rem;
      z-index: -1;
      background: rgba(#404939, 0.1);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);

      .button-modal-filter {
        @include name-tag($font-size: 0.75rem, $size: 2rem, $background: none);
        margin: 0.5rem;
      }
    }
  }

  &__members {
    @include flex($justify: flex-end);
    flex-wrap: wrap;
    max-width: 40%;

    &--btn {
      cursor: pointer;
      @include flex;
      margin-left: 1.5rem;

      .letter {
        @include name-tag(
          $size: 1.5rem,
          $font-size: 0.75rem,
          $background: none
        );
        margin-right: 0.25rem;
      }
      .member-firstname {
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }

  .group-name {
    position: absolute;
    width: 12rem;
    left: calc(50% - 6rem);
    text-align: center;
    z-index: 3;

    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
    &__edit {
      background-color: transparent;
      border: none;
    }

    @media (min-width: 1200px) {
      width: 22rem;
      left: calc(50% - 11rem);
    }
  }
}
.member-filter--all {
  @include pill;

  &-modal {
    border: white;
  }
}

.hidden-members-modal {
  display: none;
}

/////////CALENDAR///////////////////////////

.calendar {
  // min-height: 265px;
  width: 100%;
  @media (min-width: 700px) {
    padding: 0 1rem;
  }
  @media (min-width: 1000px) {
  }
  // @media (min-width: 1000px) {
  //   // min-height: 1200px;
  //   height: 100%;
  // }
  &__header {
    width: 100%;
    @include flex;
    color: $dark;
    &__title {
      button {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        color: $dark;
      }
      span {
        color: $dark;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  &__content {
    display: grid;
    padding: 4px;
    gap: 4px;
    @media (min-width: 1000px) {
      gap: 10px;
    }
    &__days-names {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      place-items: center;
      color: $light-grey;
    }
    &__weeks {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: minmax(30px, 40px);
      column-gap: 4px;
      @media (min-width: 1000px) {
        grid-template-rows: minmax(60px, 70px);
        column-gap: 10px;
      }
      @media (min-width: 1200px) {
        // grid-template-columns: repeat(7, 50px);
        // grid-template-rows: 50px;
      }
      &__day {
        background-color: $white;
        border-radius: 3px;
        overflow: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2px;
        @media (min-width: 1000px) {
          border-radius: 13px;
        }
        .day-number {
          position: absolute;
          bottom: 1px;
          right: 1px;
          color: $light-blue;
          @media (min-width: 1000px) {
            bottom: 5px;
            right: 5px;
            font-size: 25px;
          }
        }
        .calendar-members-concerned {
          font-size: 10px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: $dark-green;
          color: $white;
          text-transform: uppercase;
          @include flex;
          @media (min-width: 1200px) {
            font-size: 15px;
            width: 20px;
            height: 20px;
          }
          @media (min-width: 1400px) {
            font-size: 20px;
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
}

////////WIDGETS////////////////////////////

.add-widget-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: $white;
  font-size: 3rem;
  background-image: linear-gradient(
    30deg,
    rgba(139, 198, 220, 1) 57%,
    rgba(255, 255, 255, 1) 100%
  );
  @include flex;
  @media (min-width: 700px) {
    bottom: 20px;
    right: 20px;
  }
  @media (min-width: 1000px) {
    position: fixed;
    top: 120px;
    left: 88%;
  }
}
.widgets {
  position: relative;
  bottom: 0;
  height: 105%;
  background-color: $white;
  border-radius: 10px;
  overflow-y: auto;
  padding-top: 0.75rem;
  padding-bottom: 300px;
  margin-top: 0.5rem;
  -webkit-box-shadow: inset 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
  @media (min-width: 700px) {
    @include flex($align: flex-start, $justify: flex-start);
    flex-wrap: wrap;
    // width: 700px;
  }
  @media (min-width: 1000px) {
    max-height: 70%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
    grid-auto-flow: dense;
  }

  .widget {
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
    border-radius: $border-radius;
    padding: 0 0.5rem;
    padding-bottom: 0.75rem;
    width: 95%;
    margin: auto;
    margin-bottom: 0.75rem;
    @media (min-width: 700px) {
      width: 46%;
      margin: auto;
      margin-bottom: 10px;
    }
    @media (min-width: 1000px) {
      width: 100%;
    }
    .visible-collapsed {
      @include flex;
      .name-tag {
        @include name-tag;
        margin-right: 1rem;
      }
      .widget-header {
        padding: 0.75rem 0;
        .widget__title {
          font-weight: bold;
          font-size: 1.2em;
          text-transform: capitalize;
          padding-bottom: 0.25rem;
        }
        .widget__author {
          font-style: italic;
          font-size: 0.8em;
        }
      }
      .edit-delete-btns {
        margin-left: auto;
        .button-change {
          border: none;
          background: transparent;
          font-size: 1.1em;
        }
      }
    }
    &__description {
      padding: 1rem 0.5rem;
    }
    .widget__members {
      @include flex($justify: flex-end);
      margin-right: 50px;
      .widget__member {
        span {
          @include name-tag($size: 1.5rem, $font-size: 0.75rem);
          margin-left: 0.3rem;
        }
      }
    }
  }
}

/////////////// FORMS ///////////////////////
.container-form {
  padding: 1rem;
  text-align: center;
  &__title {
    margin: 1rem 0 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    margin: 1rem 0 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.form-select {
  font-size: 0.8em;
  line-height: 1.3;
  padding: 0.5rem 0.2rem;
  min-width: 100%;
  max-width: 100%;
  border-bottom: 1px solid $dark;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: $white;
  margin-bottom: 0.3rem;
}

.member-form {
  @include flex($direction: column);
  &__select {
    width: 100%;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    text-align: left;
    justify-content: flex-start;
    &__icon {
      font-size: 0.7em;
      font-weight: bold;
    }
    &__form {
    }
  }
  &__btns {
    @include flex();
  }
}

.widget-settings {
  &__input {
    width: 100%;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    text-align: left;

    label {
      width: 100%;
      font-size: 0.7em;
      font-weight: bold;
      color: $dark;
      padding-left: 0.5rem;
      background-color: $white;
      position: relative;
      top: -1px;

      input {
        width: 100%;
        background-color: transparent;
        border-bottom: 1px $dark solid;
        padding: 0.5rem;
      }
    }
  }
  &__text-area {
  }
}

.container-password-confirm {
  @include flex($direction: column);
  position: absolute;
  top: 26px;
  right: -555%;
  background-color: $white;
  text-align: center;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: -10px;
    right: 143px;
    height: 0;
    width: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
  }

  .close {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    &:hover {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  &__subtitle {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
  }
  &__form {
    @include flex();
    margin: 0.5rem 0.7rem 0.7rem;
    &__input {
      width: 89%;
      text-align: left;
      min-width: 200px;
      label {
        input {
          padding: 0.5rem;
          width: 92%;
          border: 1px $dark solid;
        }
        .password-eye-icon {
          position: absolute;
          top: 3px;
          right: 10px;
        }
      }
    }
    &__btn {
      min-width: 3rem;
      padding: 0.6rem 1.2rem;
    }
  }
}

.positioned-parent {
  position: relative;
}
