@use 'reset';
@use 'mixins';
@use 'extend';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Sequel';
  src: url('../assets/fonts/Sequel_Demo.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('src/assets/images/background.jpg') center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: $dark;
}

.app {
  height: 100vh;
  @include mixins.flex($flow: column, $justify: space-between);
  position: relative;
}

.home-container {
  @include mixins.flex($flow: column);
  margin: auto;
  width: 95%;
  max-width: 40rem;
  min-height: 70vh;

  .home {
    @include mixins.flex($flow: column, $justify: space-between);
    width: 100%;
    padding: 2rem 0;
    background: rgba(#404939, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 13px;
    border-bottom-right-radius: 0;

    &__header {
      @include mixins.flex($flow: column);
      padding-bottom: 1rem;

      &__title {
        color: $white;
        font-size: 2.5em;
        font-weight: bold;
        padding: 0.5rem;
      }

      &__subtitle {
        font-size: 0.6em;
        cursor: pointer;
        text-decoration: underline;
        color: $dark;
      }
    }

    &__main {
      width: 70%;
      @include mixins.flex($flow: column);

      .errors {
        @include mixins.flex($flow: column);
        font-size: 0.8em;
        color: rgb(216, 18, 18);
        min-height: 2rem;
        min-width: 70%;
        padding-top: 0.5rem;
      }

      .form-login {
        padding-top: 3rem;
        min-height: 17rem;
        @include mixins.flex($flow: column, $justify: space-between);
      }

      .form-signup {
        min-height: 17rem;
        @include mixins.flex($flow: column, $justify: space-between);
      }
    }

    &__btns-container {
      width: 100%;
      @include mixins.flex($justify: flex-end);

      &__btn {
        border: none;
        color: $white;
        text-transform: uppercase;
        margin-left: 1rem;
        width: 25%;
        min-width: 7rem;
        background: rgba(#404939, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        padding: 1rem;
        font-size: 0.7em;
        @include mixins.flex;
        font-weight: bold;

        &-unselected {
          background: rgba(#262b22, 0.5);
          font-weight: normal;
        }
      }
    }
  }
}

.button-sign {
}

.home-input {
  width: 100%;
  padding-bottom: 0.5rem;

  label {
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    color: $dark;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px $dark solid;
      padding: 0.5rem;
    }
  }
}
.header {
  padding: 0.7rem 0;
  width: 100%;
  // position: fixed;
  // top: 0;
  // z-index: 100;
  background-color: $white;

  @include mixins.flex($justify: space-between);

  &__logo {
    padding-left: 0.4rem;
    min-width: 23%;
    //logo style
    background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(139, 198, 220, 1) 15%
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-family: 'Sequel';
    font-size: 2em;
  }
  &__range-menu {
    &__range-btn {
      min-width: 3.5rem;

      border: none;
      // border: 1px solid $light-blue;

      background-color: $white;

      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }
  &__logout {
    padding-right: 0.4rem;
    min-width: 23%;
    text-align: right;
    &__btn {
      padding: 0.4rem 0.5rem;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.19);

      border: none;
      border-radius: 5px;

      background-image: linear-gradient(
        30deg,
        rgba(139, 198, 220, 1) 57%,
        rgba(255, 255, 255, 1) 100%
      );

      color: $white;
      font-size: 0.7rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.selected-range {
  font-weight: 700;
  color: $light-blue;
  border-bottom: 2px solid $light-blue;
}
// .selected-range {
//   background-color: $light-blue;
//   color: $white;
// }
// .right-btn {
//   border-top-right-radius: 25%;
//   border-bottom-right-radius: 25%;
// }
// .left-btn {
//   border-top-left-radius: 25%;
//   border-bottom-left-radius: 25%;
// }

.classic-btn {
  min-width: 6.5rem;
  padding: 0.8rem 0.2rem;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.19);

  border: none;
  border-radius: 5px;

  background-image: linear-gradient(
    90deg,
    rgba(139, 198, 220, 1) 40%,
    rgba(196, 226, 237, 1) 75%,
    rgba(220, 238, 244, 1) 100%
  );

  color: $white;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.widgets {
  background-color: $white;
  border-radius: $border-radius;
  height: 20rem;
  padding: .5rem;
  overflow: auto;
}