.modal {
  height: 100vh;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  border: black 2px solid;
  padding: 4px;
  
  @media screen and (min-width: 900px) {
    position: fixed;
    z-index: 100;
    width: 80%;
    height: 80vh;
    left: 10%;
    top: 10vh;
  }

  
  @media screen and (min-width: 1500px) {
    width: 50%;
    left: 25%;
    height: 80vh;
    // left: calc((100vw - 1800px) / 2)
  }
  
  &--hidden {
    display: none;
  }

  &__header {
    width: 100%;
    text-align: right;
    padding: 1rem;

    .close {
      border: black 3px solid;
      border-radius: 50%;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      position: relative;
      cursor: pointer;

      &:before {
        content: 'X';
        font-weight: 900;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5px;
        right: 7px;
      }

    }
  }

  &__content {
    height: 100%;
    overflow: auto;
  }

}