
@import url('http://fonts.cdnfonts.com/css/aquatico');

.error {

  background-image: url("./404.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
  overflow-y: hidden;
	height:100vh;

    &__title {
        color: white;
        font-family: 'Aquatico', sans-serif;
        font-size: 1.5em;
        position: fixed;
        bottom:60px; left:37%;
        float:none;
        margin: auto;
        text-align: center;

    }

    

}